{% extends 'base.html' %}

<!DOCTYPE html><html >
<head>
  <meta charset="UTF-8">
  <title>To-Do </title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div django-app="Task">        
    <div class="container">
            <div class="content">
            <h1>To-do</h1>
            
            <form action="" method="post">
            {% csrf_token %} 
                <div class="card" style:>
                    <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description" required>
                    <label for="description">Description</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Choose a category</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" name="date">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="updateTask" name="updateTask" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                    <button class="deleteTask" name="deleteTask" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                </div>
            <ul class="taskList">
            {% for task in tasks %} 
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ task.id }}" value="{{ task.id }}">
                    <label for="{{ task.id }}"><span class="complete-">{{ task.title }}</span></label>
                    <span class="category-{{ task.category }}">{{ task.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ task.created }} - {{ task.due_date }}</strong>
                </li>
            {% endfor %}
            </ul><!-- taskList -->
            </form>
            </div><!-- content -->
 </div><!-- container -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>            