

<h1>TO-DO</h1>

<form method="POST" action="/">
  {%  csrf_token %}
    {{form}}
   <label>MyTask</label> <input placeholder="mytask" type="submit" name="Create myTask">

</form>

{% for task in tasks %}
   <div>
       <a href=" {% url ' update_task' task.id %}">Update</a>
       <a href=" {% url ' delete_task' task.id %}">Delete</a>
       
       {% if task.complete == TRUE %}
       <strike><p>{{task}}</p></strike>
       {% else %}
       <span>{{task}}</span>
     {% endif%}
   </div>

{% endfor %}