{% load bootstrap3 %} 
{% load static %}
{% block title%}
<!-- {{user.username}} -->
{% endblock%}


{% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{%static 'css/index.css'%}"  >
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}


{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="card  mt-3">
               
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12 ml-2 mt-2 ">
                            <img src="{{user.profile.image.url}}" class="img-circle rounded-circle image-fluid" alt="..." style="width: 220px; height: 220px;">
                        </div>
                    
                        <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
                            <h2 class="card-title">{{user.username}}</h2>
                            <p class="card-text">Email Adress: {{user.email}}</p>
                            
                            {% if user.profile.contact%}
                            <p class="card-text">Contact Me: {{user.profile.contact}}</p>
                            {%endif%} 
                            {% if user.profile.bio%}
                            <p class="card-text">About Me: {{user.profile.bio}}</p>
                            {%endif%} 
                
                            <a href="{% url  'update_profile' %}" class="btn btn-info btn-sm">Update Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
   
</div>
{% endblock%}